
.test {
  margin-top: 60px;
  width: 100%;
}
.side-menu{
  width: 300px;
  margin-top: 50px;
  height: calc(100% - 50px);
}

@media screen and (max-width: 720px) {
  .side-menu {
    width: 100%;
  }
}

:host{
  ::ng-deep{
    ion-title{
      padding-inline: unset;
      position: unset;
      padding: 0px 10px;
    }
  }
}

.custom-title.md{
  padding-top: 10px !important;
}

.customSearchButton{
  min-width: 30px;
}