div{
  height: 100%; display: flex; align-items: center; justify-content: center; 
}
ion-card{
    display: flex;
    flex-direction: column;
    width: 95% !important;
    margin: 2% !important;
    height: 98% !important;
    justify-content: center;
  }
ion-back-button{
  --color: rgb(0, 140, 255);
  display: block;
}
/* ion-item.margined {
  border-radius: 30px !important;
  padding-left: 30px !important;
  font-size: 1em;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-bottom: 0px !important;
  box-shadow: none !important;
} */