<ion-card>
  <ion-card-header>
    
    <h1 style="font-weight: bold;">
      <ion-buttons slot="start">
        <ion-back-button (click)="back()"></ion-back-button>
      </ion-buttons>
      {{ "LOGIN" | translate}}
    </h1>
  </ion-card-header>
  <ion-card-content [formGroup]="loginInfo">
      <ion-item lines="full" class="margined">
        <ion-label position="floating">{{ "USERNAME" | translate }}</ion-label>
        <ion-input type="username" formControlName="username" required></ion-input>
      </ion-item>
      <app-input-error-message [form]="loginInfo" formInput='username'></app-input-error-message>
      <ion-item lines="full" class="margined">
        <ion-label position="floating">{{ "PASSWORD" | translate }}</ion-label>
        <app-Show-Hide-Password>
          <ion-input type="password" formControlName="password" required></ion-input>
        </app-Show-Hide-Password>
      </ion-item>
      <app-input-error-message [form]="loginInfo" formInput='password'></app-input-error-message>
      <ion-item lines="none">
        <ion-checkbox color="primary" slot="start" formControlName="rememberMe" name="rememberMe"></ion-checkbox>
        <ion-label>{{ "REMEMBER_ME" | translate }}</ion-label>
      </ion-item>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button type="submit" size="default" [disabled]="!loginInfo.valid" (click)="loginFormLog()">{{ "SIGN_IN" | translate }}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <a class="small-text" [routerLink]="pathOfResetPassword">{{ "FORGOT_PASSWORD" | translate }}</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <a class="small-text" [routerLink]="pathOfSignUpForCarOwner">{{ "CREATE_ACCOUNT_AS_CAR_OWNER" | translate }}</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <a class="small-text" [routerLink]="pathOfSignUpForG1Owner">{{ "CREATE_ACCOUNT_AS_GARAGE_OWNER" | translate }}</a>
        </ion-col>
      </ion-row>
  </ion-card-content>
</ion-card>