<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="about-store">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>{{ "ABOUT_STORE" | translate }}</ion-label>
        <!-- <ion-label>{{'PRODUCTS' | translate}}</ion-label> -->
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
      <ion-tab-button tab="offers">
        <ion-icon name="gift"></ion-icon>
        <ion-label>{{ "OFFERS" | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="products">
        <ion-icon name="cube"></ion-icon>
        <ion-label>{{ "PRODUCTS" | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
