<section class="container main-container-in-page h-100" >
  <h2>View Complaints</h2>

  <ng-template
  
    [ngIf]="complaints && complaints.length !== 0"
    [ngIfElse]="!complaints ? loading : noDataFound"
  >
    <div class="d-flex flex-column">
      <div
        *ngFor="let complaint of complaints"
        style="border-bottom: 1px solid #f1f1f1"
        class="my-2"
      >
        <div class="d-flex flex-column justify-content-lg-start">
          <div>
            <span> Garage Owner Name: {{ complaint.garageOwnerName }} </span>
          </div>
          <div>
            <span> Garage Name: {{ complaint.storeName }} </span>
          </div>
        </div>
        <div>
          <span> Message: </span>
          <p style="max-height: 250px; overflow-y: auto">
            {{ complaint.message }}
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</section>

<ng-template #loading>
  <app-loading [type]="'card'"></app-loading>
</ng-template>

<ng-template #noDataFound >
  <app-no-data-found></app-no-data-found>
</ng-template>
