<!--<head>
</head>
<body>
  <ion-app>

    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Sign up</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
      
        <ion-card>
          <form #form="ngForm" (ngSubmit)="nextCreateAccount(form)" method="post">-->
            <ion-item lines="full">
              <ion-label position="floating">Username</ion-label>
              <ion-input type="text" name="userName" ngModel required></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating">Full name</ion-label>
              <ion-input type="text" name="fullName" ngModel required></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating">Email address</ion-label>
              <ion-input type="text" name="email" ngModel required></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating">Phone Number</ion-label>
              <ion-input type="text" name="phoneNumber" ngModel required></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" name="password" ngModel required></ion-input>
            </ion-item>
            <!--
            <ion-radio-group value="CarOwnerAccount" name="OwnerType" ngModel>
              <ion-list-header>
                <ion-label>Account Type</ion-label>
              </ion-list-header>
              <ion-item lines="none">
                <ion-label>Car Owner Account</ion-label>
                <ion-radio slot="start" color="tertiary" value="CarOwnerAccount" id=""></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Garage Owner Account</ion-label>
                <ion-radio slot="start" color="tertiary" value="GarageOwnerAccount"></ion-radio>
              </ion-item>
            </ion-radio-group>
            -->
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button onclick="" size="default">Next</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <a class="small-text" href="/auth/login">Sign In</a>
              </ion-col>
            </ion-row>
          <!--</form>
         </ion-card>

       <ion-slide>
          <ion-card>
            <div *ngIf="(true)">
              <app-CreateGarageOwner></app-CreateGarageOwner>
            </div>
          </ion-card>
        </ion-slide>



      
    </ion-content>

  </ion-app>
</body>-->