<div [formGroup]="userInfo">
    <ion-item lines="full" class="margined">
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" formControlName="username" required></ion-input>
    </ion-item>
    <ion-item lines="full" class="margined">
        <ion-label position="floating">Full name</ion-label>
        <ion-input type="text" formControlName="fullName" required></ion-input>
    </ion-item>
    <ion-item lines="full" class="margined">
        <ion-label position="floating">Email address</ion-label>
        <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>
    <ion-item lines="full" class="margined">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>
    <ion-item lines="full" class="margined">
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="text" formControlName="phoneNumber" required></ion-input>
    </ion-item>
</div>
