<section style="overflow-y: auto;">
    <ion-card>
        <ion-card-header>
            <ion-card-title class="pt-2">View Products</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="container">
                <ion-card>
                    <ion-card-content>
                        <ion-item>
                            <ion-label>Select a category name: </ion-label>
                            <ion-select interface="alert" (ionChange)="updateCategory($event)"
                                [interfaceOptions]="customPopoverOptions" placeholder="Select One" value="all">
                                <ion-select-option value="all">All</ion-select-option>
                                <ion-select-option *ngFor="let category of categories" [value]="category._id">
                                    {{category.name}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                        <app-filters [values]="filters" (filterApplied)="filterApplied($event);"></app-filters>
                    </ion-card-content>
                </ion-card>

                <div *ngFor="let product of products">
                    <app-card [data]="product" [type]="'products'"></app-card>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</section>