<section *ngIf="!isHeader">
  <ion-searchbar placeholder="{{ 'SEARCH' | translate }}" class="full" (ionInput)="filterList($event)"></ion-searchbar>
  <!-- <app-card *ngFor="let product of filteredItemlist" [data]="product" [type]="'products'"></app-card> -->
</section>
<section *ngIf="isHeader">
  <ion-icon class="icon mt-3" size="small" name="search" *ngIf="!toggled" (click)="toggle()"></ion-icon>
  <ion-searchbar placeholder="{{ 'SEARCH' | translate }}" class="header" *ngIf="toggled" [showCancelButton]="true" (ionCancel)="toggle()"></ion-searchbar>
</section>
