<ion-card class="card" style="width: 18rem;">
    <img src="{{data.image}}" class="card-img-top">
    <div></div>
    <div class="card-body">
        <ion-card-header>
            <ion-card-subtitle *ngIf="type && type === 'products'" >in stock</ion-card-subtitle>
            <ion-card-subtitle *ngIf="type && type === 'stores'" >
                <span *ngIf="data.isOpen" class="open">
                    open
                </span>
                <span *ngIf="!data.isOpen" class="close-store">
                    close
                </span>
            </ion-card-subtitle>
            <ion-card-title>Name: {{data.name}}</ion-card-title>
            <ion-card-subtitle *ngIf="type && type === 'stores'">
                <span>
                    Address: {{data.address}}
                </span>
            </ion-card-subtitle>
        </ion-card-header>
        <a [routerLink]="[data.href, 'tabs']" class="btn btn-primary">View</a>
    </div>
</ion-card>
