<!-- <div style="overflow-y: auto;" class="container">
    <app-loading [type]="'card'"></app-loading>
</div> -->
<section style="overflow-y: auto;" class="container h-100">
    <div class="container">
        <div style="/* margin-top: 5px; width: 50%; */">
            <div class="d-flex justify-content-between flex-wrap">
                <div>
                    <h2>Settings</h2>
                </div>
                <div>
                    <ion-button color="success">Save</ion-button>
                </div>
            </div>
            <ion-list>

                <ion-item>
                    <ion-label>Language</ion-label>
                    <ion-select value="ENG">
                        <ion-select-option value="en">English</ion-select-option>
                        <ion-select-option value="ar">عربي</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>Dark mode</ion-label>
                    <ion-toggle color="primary"  [ngModel]="darkMode" (ngModelChange)="toggleClicked($event)"></ion-toggle>
                </ion-item>

            </ion-list>

        </div>
    </div>
</section>

    
