<div *ngIf="carInfo" [formGroup]="carInfo">
  <ion-item lines="full">
    <ion-label position="floating">{{ "MODEL" | translate }}</ion-label>
    <ion-input type="text" formControlName="model"></ion-input>
  </ion-item>
  <app-input-error-message [form]="carInfo" formInput='model'></app-input-error-message>
  <ion-item lines="full">
    <ion-label position="floating">{{ "MAKE" | translate }}</ion-label>
    <ion-input type="text" formControlName="make"></ion-input>
  </ion-item>
  <app-input-error-message [form]="carInfo" formInput='make'></app-input-error-message>
  <ion-item lines="full" class="lastInput">
    <ion-label position="floating">{{ "YEAR" | translate }}</ion-label>
    <ion-datetime display-format="YYYY" picker-format="YYYY" formControlName="year">
    </ion-datetime>
  </ion-item>
  <app-input-error-message [form]="carInfo" formInput='year'></app-input-error-message>
</div>