<!-- <div *ngIf="carInfo" [formGroup]="carInfo"> -->
  <ion-item lines="full">
    <ion-label position="floating">{{ "MODEL" | translate }}</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <app-input-error-message></app-input-error-message>
  <ion-item lines="full">
    <ion-label position="floating">{{ "MAKE" | translate }}</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <app-input-error-message></app-input-error-message>
  <ion-item lines="full">
    <ion-label position="floating">{{ "YEAR" | translate }}</ion-label>
    <ion-datetime display-format="YYYY" picker-format="YYYY">
    </ion-datetime>
  </ion-item>
  <app-input-error-message></app-input-error-message>
<!-- </div> -->