<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="my-products">
            <ion-icon name="cube"></ion-icon>
            <ion-label>Products</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="create-category">
            <ion-icon name="add-circle"></ion-icon>
            <ion-label>Category</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="insert-product">
            <ion-icon name="add-circle"></ion-icon>
            <ion-label>Product</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="create-offers">
            <ion-icon name="add-circle"></ion-icon>
            <ion-label>offers</ion-label>
            <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>