<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="my-products">
            <ion-icon name="cube"></ion-icon>
            <ion-label>{{ "PRODUCTS" | translate }}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="manage-category">
            <ion-icon name="create"></ion-icon>
            <ion-label>{{ "CATEGORY" | translate }}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="manage-product">
            <ion-icon name="create"></ion-icon>
            <ion-label>{{ "PRODUCT" | translate }}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="manage-offers">
            <ion-icon name="create"></ion-icon>
            <ion-label>{{ "OFFERS" | translate }}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>