<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="my-products">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>My products</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="create-category">
            <ion-icon name="map"></ion-icon>
            <ion-label>Create Category</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="insert-product">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>Insert Product</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="create-offers">
            <ion-icon name="storefront"></ion-icon>
            <ion-label>Create offers</ion-label>
            <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>