.height-page {
  display: block !important;
  .user-info {
    height: 500px !important;
  }
  .car-info {
    height: 350px !important;
  }
  .garage-info {
    // min-height: calc(100% - 150px);
    // overflow-y: auto;
  }
}
