<ion-content style="height: 100%;">
    <ion-card style="height: calc(100% - 20px);">
        <ion-card-header>
            <h1 style="color: black; font-weight: bold;">
                {{headerName}}
            </h1>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <div class="height-page">
                    <ion-router-outlet></ion-router-outlet>
                </div>
                <ion-item [lines]="'none'" class="mb-2">
                    <div class="d-flex flex-wrap align-items-end w-100 justify-content-end">
                        <ion-button (click)="backURL()" [color]="'secondary'" size="default">previous</ion-button>
                        <ion-button [disabled]="disableNextButton || (disableSaveButton && isMoved)" color="primary"
                            (click)="doSomething()" size="default">{{buttonName}}
                        </ion-button>
                    </div>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>