<section class="container main-container-in-page">
    <ng-template [ngIf]="!isLoading" [ngIfElse]="loading">
        <ng-template [ngIf]="stores && stores.length !== 0" [ngIfElse]="noDataFound">
            <div *ngFor="let store of stores">
                <app-card [data]="store" [type]="'stores'"></app-card>
            </div>
        </ng-template>
    </ng-template>
</section>

<ng-template #noDataFound>
    <app-no-data-found class="h-100 w-100"></app-no-data-found>
</ng-template>

<ng-template #loading>
    <app-loading [type]='"card"'></app-loading>
</ng-template>