ion-card{
    display: flex;
    flex-direction: column;
    width: 95% !important;
    margin: 5% !important;
  }
  ion-back-button{
    --color: rgb(0, 140, 255);
    display: block;
  }
  div{
    height: 100%; display: flex; align-items: center; justify-content: center;
}