<ion-content class="auth-form">

  <ion-slides pager="false" [options]="slideOpts" #slider>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-title>{{ "RESET_PASSWORD" | translate }}</ion-title>
        </ion-card-header>
        <form [formGroup]="resetInfo1" (ngSubmit)="resetFormLog1()">
          <ion-item lines="none">
            <ion-buttons slot="start">
              <ion-back-button (click)="backToLogin()"></ion-back-button>
            </ion-buttons>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">{{ "EMAIL_ADDRESS" | translate }}</ion-label>
            <ion-input type="text" formControlName="email" required></ion-input>
          </ion-item>
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-text-center">
              <ion-button type="submit" (click)="swipeNext()" size="default" [disabled]="!resetInfo1.valid">{{ "SEND_CODE" | translate }}
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <form [formGroup]="resetInfo2" (ngSubmit)="resetFormLog2()">
          <ion-item lines="none">
            <ion-buttons slot="start">
              <ion-back-button (click)="back()"></ion-back-button>
            </ion-buttons>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">{{ "CODE" | translate }}</ion-label>
            <ion-input type="text" formControlName="code" required></ion-input>
          </ion-item>
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-text-center">
              <ion-button type="submit" size="default" [disabled]="!resetInfo2.valid">{{ "VERIFY" | translate }}</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-text-center">
              <a class="small-text">{{ "SEND_CODE_AGAIN" | translate }}</a>
            </ion-col>
          </ion-row>
        </form>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>