<section class="h-100 container">
  <div>
    <ion-title style="border: none; margin: 5px;">{{ "SHOPPING_CART" | translate }}</ion-title>
  </div>
  <ng-template [ngIf]="!isFetching" [ngIfElse]="loading">
    <div *ngIf="cartForm" [formGroup]="cartForm" class="h-100 w-100">
      <div
        style="height: calc(100% - 100px); overflow-y: auto; overflow-x: hidden"
      >
        <!-- <ion-card class="ioncard"> -->
        <!-- <ion-list> -->
        <div formArrayName="items">
          <ng-template [ngIf]="!isEmpty" [ngIfElse]="noDataFound">
            <div
              *ngFor="let item of itemsArray.controls; index as i"
              [formGroupName]="i"
            >
              <ion-item class="row" lines="none">
                <ion-grid float-left fixed>
                  <ion-row float-left>
                    <ion-col style="max-width: 60px; max-height: 50px">
                      <ion-avatar>
                        <ion-img
                          style="
                            max-width: 50px;
                            max-height: 50px;
                            object-fit: cover;
                          "
                          src="{{ item.get('image').value }}"
                          class="card-img-top"
                        ></ion-img>
                      </ion-avatar>
                    </ion-col>
                    <ion-col>
                      <ion-label class="name">
                        {{ item.get("name").value }}
                      </ion-label>
                      <ion-label class="price">
                        {{
                          (
                            item.get("price").value * item.get("quantity").value
                          ).toFixed(2)
                        }}
                        {{ "JOD" | translate }}
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row class="quantityGroup">
                    <ion-grid fixed>
                      <ion-col>
                        <ion-button
                          class="quantityButtons"
                          *ngIf="item.get('quantity').value > 1"
                          color="medium"
                          fill="clear"
                          (click)="minus(i)"
                        >
                          <ion-icon
                            class="quantityIcons"
                            name="remove-circle"
                            slot="icon-only"
                          ></ion-icon>
                        </ion-button>
                        <ion-button
                          class="quantityButtons"
                          *ngIf="item.get('quantity').value === 1"
                          color="medium"
                          fill="clear"
                          (click)="remove(i)"
                        >
                          <ion-icon
                            class="quantityIcons"
                            name="close-circle"
                            slot="icon-only"
                          ></ion-icon>
                        </ion-button>

                        {{ item.get("quantity").value }}

                        <ion-button
                          class="quantityButtons"
                          color="medium"
                          fill="clear"
                          (click)="add(i)"
                        >
                          <ion-icon
                            class="quantityIcons"
                            name="add-circle"
                            slot="icon-only"
                          >
                          </ion-icon>
                        </ion-button>

                        <ion-button
                          style="float: right"
                          class="quantityButtons"
                          color="medium"
                          fill="clear"
                          (click)="remove(i)"
                        >
                          <ion-icon
                            name="close-circle"
                            slot="icon-only"
                          ></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-grid>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </div>
          </ng-template>
        </div>
        <!-- </ion-list> -->
        <!-- </ion-card> -->
      </div>

      <div class="divColorFix" style="border-style: solid; border-color: rgb(218, 220, 224); border-radius: 8px; border-width: 1px;">
        <!-- <ion-card class="ioncard2"> -->
        <ion-grid>
          <ion-row style="align-items: center">
            <ion-col>
              <ion-label class="totalText">{{ "TOTAL" | translate }}: </ion-label>
              <ion-label class="totalPrice">{{ total?.toFixed(2) }}</ion-label>
              <ion-label class="totalCurrency"> {{ "JOD" | translate }}</ion-label>
            </ion-col>
            <ion-col>
              <ion-button (click)="onSubmit()" style="float: right" [disabled]="!items || (items && items.length === 0)"
                >{{ "CHECKOUT" | translate }}</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- </ion-card> -->
      </div>
    </div>
  </ng-template>
</section>

<ng-template #loading>
	<div class="container" style="overflow-y: auto; height: 100%;">
		<app-loading [type]="'list'" ></app-loading>
	</div>
</ng-template>

<ng-template #noDataFound>
  <app-no-data-found></app-no-data-found>
</ng-template>
