<div  style="height: 100%; overflow-y: auto;">
  <ion-item lines="full">
      <ion-label position="floating">{{ "STORE_NAME" | translate }}</ion-label>
      <ion-input type="text"*ngIf="storeInfo" [formGroup]="storeInfo" formControlName="name"></ion-input>
  </ion-item>
  <app-input-error-message [form]="storeInfo" formInput='name'></app-input-error-message>
  <ion-item lines="full">
      <ion-label position="floating">{{ "OPEN_TIME" | translate }}</ion-label>
      <ion-datetime display-format="hh:mm A" *ngIf="storeInfo" [formGroup]="storeInfo" picker-format="hh:mm A" formControlName="openTime">
      </ion-datetime>
  </ion-item>
  <app-input-error-message [form]="storeInfo" formInput='openTime'></app-input-error-message>
  <ion-item lines="full">
      <ion-label position="floating">{{ "CLOSE_TIME" | translate }}</ion-label>
      <ion-datetime display-format="hh:mm A" *ngIf="storeInfo" [formGroup]="storeInfo" picker-format="hh:mm A" formControlName="closeTime">
      </ion-datetime>
  </ion-item>
  <app-input-error-message [form]="storeInfo" formInput='closeTime'></app-input-error-message>
  <ion-item lines="full">
      <ion-label position="floating">{{ "ADDRESS" | translate }}</ion-label>
      <ion-input type="text" *ngIf="storeInfo" [formGroup]="storeInfo" formControlName="address"></ion-input>
  </ion-item>
  <ion-item lines="full" class="margined">
    <ion-label position="floating">{{ "LATITUDE" | translate }}</ion-label>
    <ion-input type="text" *ngIf="storeInfo" [formGroup]="storeInfo" formControlName="lat"></ion-input>
  </ion-item>
  <ion-item lines="full" class="margined">
    <ion-label position="floating">{{ "LONGITUDE" | translate }}</ion-label>
    <ion-input type="text"*ngIf="storeInfo" [formGroup]="storeInfo"  formControlName="long"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button
    color="secondary"
    (click)="applyLocationFromMap()"
    size="default"
    >
    Apply Location From Map
    </ion-button>
  </ion-item>
  <app-input-error-message [form]="storeInfo" formInput='location'></app-input-error-message>
  <ion-item>
      <app-upload-image (getImageAsBase64)="getImageAsBase64($event)"></app-upload-image>
  </ion-item>
  <ion-item lines="full">
      <ion-label position="floating">{{ "DESCRIPTION" | translate }}</ion-label>
      <ion-textarea rows="4" *ngIf="storeInfo" [formGroup]="storeInfo" formControlName="description"></ion-textarea>
  </ion-item>
  <app-input-error-message [form]="storeInfo" formInput='description'></app-input-error-message>
  <ion-item lines="full" class="margined mb-2">
      <ion-label position="floating">{{ "TAGS" | translate }}</ion-label>
      <ion-input *ngIf="storeInfo" [formGroup]="storeInfo"  type="text" formControlName="tags"></ion-input>
  </ion-item>
  <app-input-error-message [form]="storeInfo" formInput='tags'></app-input-error-message>
</div>