<!-- <ion-app> -->
  <div style="overflow-y: scroll; width: 100%; height: 100%; display: flex;">
    <!-- <ion-row style="width: 100%;"> -->
      <!-- <div style="overflow-y: scroll; height: 100%;">
        <ion-col> -->
        <!-- <ion-content> -->
          <ion-card  style="margin-bottom: 2px; margin-top: 2px; margin-left: 5px; margin-right: 5px;"> 
            <form [formGroup]="contactForm">
           
                <ion-list>
                  <div formArrayName="contacts">
                    <div *ngFor="let contact of contactsArray.controls; let i=index">
                      <div [formGroupName]="i">
                        <ion-item (click)="openChat(i)" routerLink="/business/chat/conversations/{{index}}">
                          <ion-grid>
                            <ion-row>
                              <ion-col style="max-width: 60px; max-height: 60px;">
                                <ion-avatar>
                                  <ion-img style="max-width: 50px; max-height: 50px; object-fit: cover;" src="{{contact.get('image').value}}"></ion-img>
                                </ion-avatar>
                              </ion-col>
                              <ion-col>
                                <ion-label style="font-weight: bold;"> {{contact.get('username').value}} <span style="font-weight: lighter; font-size: 8pt; float: right;">{{contact.get('chat').value[1][1] + ' at ' + contact.get('chat').value[1][2]}}</span></ion-label>
                                <ion-label style="font-weight: lighter; float: right;"> {{contact.get('chat').value[1][0]}}</ion-label>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-item>
                      </div>
                    </div>
                  </div>
                </ion-list>
            
            </form>
          </ion-card>
        <!-- </ion-content> -->
       <!-- </ion-col> -->
      </div>
<!--     <div style="overflow-y: scroll; height: 100%; width: 50%;">
      <ion-col>
        <app-conversation></app-conversation> -->
        <!--<form [formGroup]="contactForm">
        <ion-card>
          <ion-card-header>
            <div formArrayName="contacts">
              <div *ngFor="let contact of contactsArray.controls; let i=index;">
                <div [formGroupName]="i">
                  <ion-item *ngIf="index === i">
                    <ion-grid>
                      <ion-row>
                        <ion-col style="max-width: 60px; max-height: 60px;">
                          <ion-avatar>
                            <ion-img style="max-width: 50px; max-height: 50px; object-fit: cover;" src="{{contact.get('image').value}}"></ion-img>
                          </ion-avatar>
                        </ion-col>
                        <ion-col>
                          <ion-label style="font-weight: bold;"> {{contact.get('username').value}} </ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </div>
              </div>
            </div>
          </ion-card-header>
          <ion-list>
          </ion-list>
        </ion-card>
      </form>-->
<!--       </ion-col>
    </div>
    </ion-row>
  </div>  -->


<!-- <ion-list>

  <ion-item>
      <a routerLink="/business/chat/conversations/123">
        test
      </a>
  </ion-item>
  
</ion-list>
 -->

<!-- </ion-app> -->