<!-- 
<a class="type-toggle" (click)="toggleShow()" style="float: inline-end;">
  <ion-icon class="show-option" [hidden]="showPassword" name="eye-off-outline" item-right></ion-icon>
  <ion-icon class="hide-option" [hidden]="!showPassword" name="eye-outline" item-right></ion-icon>
</a><ng-content></ng-content> -->

<a *ngIf="right" class="type-toggle" (click)="toggleShow()" style="float: inline-end;">
  <ion-icon style="position: absolute; right: 0;" class="show-option" [hidden]="showPassword" name="eye-off-outline" item-right></ion-icon>
  <ion-icon style="position: absolute; right: 0;" class="hide-option" [hidden]="!showPassword" name="eye-outline" item-right></ion-icon>
</a>
<a *ngIf="!right" class="type-toggle" (click)="toggleShow()" style="float: inline-end;">
  <ion-icon style="position: absolute; left: 0;" class="show-option" [hidden]="showPassword" name="eye-off-outline" item-right></ion-icon>
  <ion-icon style="position: absolute; left: 0;" class="hide-option" [hidden]="!showPassword" name="eye-outline" item-right></ion-icon>
</a>
<ng-content></ng-content> 