<section style="height: 100%">
  <ion-card style="height: calc(100% - 20px); overflow-y: auto; display: block"  infiniteScroll [infiniteScrollDistance]="0.5"
  [infiniteScrollThrottle]="5"  [scrollWindow]="false" (scrolled)="getMyCars()" [infiniteScrollUpDistance]="1.5">
    <ion-card-header>
      <ion-card [formGroup]="addNewCarFormGroup">
        <ion-title> Add new Car </ion-title>
        <div class="container">
          <div class="d-flex justify-content-between flex-wrap border-bottom">
            <ion-item>
              <ion-label position="floating">Model</ion-label>
              <ion-input type="text" formControlName="model"></ion-input>
            </ion-item>
            <app-input-error-message [form]="addNewCarFormGroup" formInput='model'></app-input-error-message>
            <ion-item>
              <ion-label position="floating">Make</ion-label>
              <ion-input type="text" formControlName="make"></ion-input>
            </ion-item>
            <app-input-error-message [form]="addNewCarFormGroup" formInput='make'></app-input-error-message>
            <ion-item>
              <ion-label position="floating">Year</ion-label>
              <ion-datetime
                display-format="YYYY"
                picker-format="YYYY"
                formControlName="year"
              >
              </ion-datetime>
            </ion-item>
            <div class="row-btns d-flex justify-content-end">
              <ion-button
                color="secondary"
                (click)="addCar()"
                [disabled]="disableAddNewCarBtn"
              >
                <ion-icon name="save-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-card>
      <ion-card-header class="d-flex justify-content-between">
        <ion-card-title class="pt-2">My Cars</ion-card-title>
      </ion-card-header>
    </ion-card-header>
    <ion-card-content *ngIf="myCars" [formGroup]="myCars">
      <div class="container" formArrayName="cars">
        <div *ngFor="let car of myCars.get('cars')['controls']; index as i">
          <div class="col pt-2" [formGroupName]="i">
            <div
              class="d-flex justify-content-between flex-wrap border-bottom"
              *ngIf="car.get('isEditing').value"
            >
              <ion-item>
                <ion-label position="floating">Model</ion-label>
                <ion-input type="text" formControlName="model"></ion-input>
              </ion-item>
              <app-input-error-message [form]="i" formInput='model'></app-input-error-message>
              <ion-item>
                <ion-label position="floating">Make</ion-label>
                <ion-input type="text" formControlName="make"></ion-input>
              </ion-item>
              <app-input-error-message [form]="i" formInput='make'></app-input-error-message>
              <ion-item>
                <ion-label position="floating">Year</ion-label>
                <ion-datetime
                  display-format="YYYY"
                  picker-format="YYYY"
                  formControlName="year"
                >
                </ion-datetime>
              </ion-item>
              <div class="row-btns d-flex justify-content-end">
                <ion-button
                  [disabled]="!car.get('isEditing').value"
                  color="secondary"
                  (click)="saveEditedCar(i)"
                >
                  <ion-icon name="save-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
            <div
              class="d-flex justify-content-between flex-wrap border-bottom"
              *ngIf="!car.get('isEditing').value"
            >
              <div class="col pt-2">
                <span> Model: {{ car.get("model").value }} </span>
              </div>
              <div class="col pt-2">
                <span> Make: {{ car.get("make").value }} </span>
              </div>
              <div class="col pt-2">
                <span> Year: {{ car.get("year").value }} </span>
              </div>
              <div class="col mb-2 row-btns d-flex justify-content-end">
                <ion-button
                  [disabled]="car.get('isEditing').value"
                  color="tertiary"
                  (click)="editCar(i)"
                >
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <ion-button color="danger" (click)="deleteCar(i)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</section>
